beautifulsoup4==4.13.5
black==25.1.0
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.2.1
configparser==7.2.0
flake8==7.3.0
Flake8-pyproject==1.2.3
idna==3.10
mccabe==0.7.0
mypy==1.17.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.4.0
pycodestyle==2.14.0
pyflakes==3.4.0
requests==2.32.5
soupsieve==2.8
types-beautifulsoup4==4.12.0.20250516
types-html5lib==1.1.11.20250809
types-requests==2.32.4.20250809
types-setuptools==80.9.0.20250822
typing_extensions==4.15.0
urllib3==2.5.0
